html,
body {
  margin: 0;
  padding: 0;
  background-color: #1c1e33;
  color: whitesmoke; }

h2:hover {
  filter: brightness(110%);
  transform: scale(1.05); }

footer {
  background-image: linear-gradient(#1c1e33, #0e0e1d); }

.jumbotron {
  padding: 1rem auto;
  background-color: blue;
  background-image: linear-gradient(to right, #0e0e1d, #525e6d, #0e0e1d); }

.imgres:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 1rem #a6a8b4); }

.row {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.port {
  max-height: 75vh; }
