$color-main: rgb(14, 14, 29);
$color-background:#242641;
$color-shadow: #a6a8b4;

html,
body {
  margin: 0;
  padding: 0;
  background-color: $color-background;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
} 
header h1{
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 2px;
  color: rgb(221, 219, 236);  
}
header h1:hover{
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 2px;
  color: rgb(221, 219, 236);  
  filter: brightness(110%);
  transform: scale(1.05);
}

footer {
  background-image: linear-gradient($color-background,$color-main);
}

.mid {
  background-image: linear-gradient( $color-background, $color-main,  $color-background);
}

.jumbotron {
  padding:  1rem auto;
  background-color: blue;
  background-image: linear-gradient(to right, $color-main, rgb(82, 94, 109),$color-main);
}


.imgres:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 1rem $color-shadow);
}

.row {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.row-content {     
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;
}

.iconwhite {
  color: whitesmoke;
  transform: scale(1.2);
}

.btn-social-icon{
  transform: scale(1.14);
}

.emailBlock {
  display: block;
}