$color-main: #f05f44;
$color-shadow: #3f18118e;

body, html {
	width: 100%;
	height: 100%;
	/*font-family: ;*/
	background: url(../img/home.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h2 {
	font-size: 4rem;
	color: #e2dbdb;
}

hr {
	border-color: $color-main;
	border-width: 3px;
	max-width: 400px;
}


.buffer {
	height: 10rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: $color-main;
	border-color: $color-main;
	box-shadow: 0 0.25rem $color-shadow;
}

.btn-primary:hover {
	background-color: $color-main;
	border-color: $color-main;
	filter: brightness(110%);
}

.btn-primary:active {
	transform: translate(0, 0.25rem);
	box-shadow: 0 0.1rem $color-shadow;
	background-color: $color-main;
	border-color: $color-main;
}


.btn-xl {
	padding: 1rem 2rem;
}