body, html {
  width: 100%;
  height: 100%;
  /*font-family: ;*/
  background: url(../img/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h2 {
  font-size: 4rem;
  color: #e2dbdb; }

h3 {
  font-size: 2rem;
  color: #e2dbdb; }

hr {
  border-color: #dbd2d0;
  border-width: 3px;
  max-width: 40px; }

.buffer {
  height: 10rem; }

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase; }

.btn-light {
  background-color: #dbd2d0;
  border-color: #dbd2d0;
  box-shadow: 0 0.25rem #3f18118e; }

.btn-light:hover {
  background-color: #dbd2d0;
  border-color: #dbd2d0;
  filter: brightness(110%); }

.btn-light:active {
  transform: translate(0, 0.25rem);
  box-shadow: 0 0.1rem #3f18118e;
  background-color: #dbd2d0;
  border-color: #dbd2d0; }

.btn-xl {
  padding: 1rem 2rem; }
